{% extends "base.html" %}

{% block title %}{{ album.title }}{% endblock %}

<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <h1>{{ album.title }}</h1>
            <p>{{ album.description }}</p>
        </div>
    </div>
    
    {% block content %}
    <br>
    <div class="row">
        <div class="col-12">
            {% for photo in photos %}
                {% include "partial/photo_view_partial.html" %}
            {% empty %}
                <h2>No photos</h2>
            {% endfor %}
        </div>
    </div>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}