{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-sm-12">
            {% include "partial/photo_view_partial.html" %}
            
            {% if request.user == photo.author %}
            <div class="text-center my-4">
                {% if photo.access_token %}
                <p><strong>Access link:</strong> 
                    <a href="{% url 'webapp:token_photo_detail' token=photo.access_token %}">
                        {{ request.build_absolute_uri|slice:"://"}}{% url 'webapp:token_photo_detail' token=photo.access_token %}
                    </a>
                </p>
                {% else %}
                <a href="{% url 'webapp:generate_token' pk=photo.pk %}" class="btn btn-success">Generate access link</a>
                {% endif %}
            </div>
            {% endif %}
            
            {% if request.user.is_authenticated %}
            <div class="text-center my-4">
                <button class="btn btn-primary" data-like="favorite" 
                        data-url="{% url 'webapp:add_to_favorites' 'photo' photo.pk %}">
                    {% if request.user in photo.like_users.all %}
                    Remove from favorites
                    {% else %}
                    Add to favorites
                    {% endif %}
                </button>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}