<div class="post bg-white border rounded shadow-sm mb-4">
    <div class="post-header py-3 px-4 d-flex align-items-center justify-content-between">
        <div>
            <span class="post-username font-weight-bold">
                <a href="{% url 'accounts:profile' photo.author.pk %}" class="text-dark">
                    {{ photo.author.first_name }} {{ photo.author.last_name }}
                </a>
            </span>
        </div>
        {% if request.user == photo.author or perms.webapp.change_photo %}
            <div class="post-actions">
                <a href="{% url 'webapp:photo_update' photo.pk %}" class="text-primary mx-2">
                    <i class="bi bi-pen" title="Edit"></i>
                </a>
                <a href="{% url 'webapp:photo_delete' photo.pk %}" class="text-danger">
                    <i class="bi bi-trash" title="Delete"></i>
                </a>
            </div>
        {% endif %}
    </div>

    <img class="post-image img-fluid rounded-top" src="{{ photo.image.url }}" alt="{{ photo.caption }}">

    <div class="post-body px-4 py-3">
        <p class="post-caption font-weight-bold">{{ photo.caption }}</p>
        <a href="{% url 'webapp:photo_view' photo.pk %}" class="text-primary mx-2">
                    Detail View
        </a>
        {% if photo.album %}
            <p class="post-album">
                <strong>Album:</strong>
                <a href="{% url 'webapp:album_view' photo.album.pk %}" class="text-info">
                    {{ photo.album.title }}
                </a>
            </p>
        {% endif %}
    </div>

    <div class="post-footer px-4 py-2 text-muted d-flex justify-content-between">
        <span>{{ photo.created_at|date:"M d, Y, H:i" }}</span>
    </div>
</div>
